@tailwind base;
@tailwind components;
@tailwind utilities;

.activeCatMenu {
  color: red;
}

a.active {
  color: #F66904  !important;
  background-color: #fff !important;
  padding: 5px 10px;
  border-radius: 5px;
}


/* reviews */
::after {
  font-size: 25px !important;
  color: #F66904 !important;
}

.btn {
  font-size: 15px;
  text-transform: capitalize !important;
  font-weight: 400;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor:pointer;
  color: #fff;
}
.btn-slide-left {
  background-color: #F36702 !important;
  background: linear-gradient(to left, transparent 50%, #964207 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.btn-slide-left:hover {
  background-position: left bottom;
}